<div id="sidebar" class="span3 offset1">
    <div class="well">
        <h2>Welcome</h2>
        <p>
            <img src="http://www.gravatar.com/avatar/ea0cd17bcc28810e1581fa9881298c60.png" class="fl" style="margin: 3px 20px 0 0" />
            Hi, I'm <a href="/about.html">Dale Williams</a>. <br />
            I'm a software developer based in Melbourne Australia. 
        </p>
    </div>
    <div class="well">
        <p><a href="http://feeds.feedburner.com/DaleWilliams" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/DaleWilliams" rel="alternate" type="application/rss+xml">Subscribe</a></p>
    </div>
</div>