body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif !importaint;
}

.title {
	font-size: 6em;
	text-decoration: none;
    line-height: normal;
}
a.title:hover {
	text-decoration: none;
    color: initial;
}

.fl {
    float: left;
}

h1 {
    color: #005580;
}