html, body {margin:0;padding:0}

body 
{
    background: #F0F0F0;
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
}

h1 
{
margin:0;
}

#wrapper 
{
    padding: 0 20px;
    background: #FFF;
}

#main, #wrapper 
{
    width: 960px;
    margin: 0 auto;
}

#main 
{
    clear: both;
}

#container 
{
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}

#content 
{
    margin: 0 280px 0 20px;
}

#sidebar 
{
    float: right;
    width: 220px;
}


#footer 
{
    height: 40px;
    border-top: 1px solid #AAA;
    background: #DDDFE0;
}


#header a 
{
    text-decoration: none;
    color: #000;
}