<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href='/favicon.ico' rel='icon' type='image/x-icon'/>
        <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />  
        <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" />  
        <!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection" /><![endif]-->  
        <link rel="stylesheet" href="/stylesheets/site.css" type="text/css"  media="screen" />
        {% if site.feedburner %}
        <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
        {% endif %}
        {% if site.google_analytics %}
        <!-- google analytics async -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <div id="header" class="span-24">
                <a href="/" class="title">{{ site.title }}</a>
            </div>
            <hr />
            <div id="main" class="span-17 colborder">
                {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
                {{ content }}
            </div>
            <div id="sidebar" class="span-6 last">
                <h2 class="bottom">Welcome</h2>
                <p>
                    <img src="http://www.gravatar.com/avatar/ea0cd17bcc28810e1581fa9881298c60.png" class="left" style="margin: 3px 20px 0 0" />
                    Hi, I'm <a href="/about.html">Dale Williams</a>. <br />
                    I'm a software developer based in Melbourne Australia. 
                </p>
                <hr class="space"/>
                <hr />
            </div>
            <hr class="space"/>
            <hr />
            <div id="footer" class="span-24">
                <ul>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
  
        {% if site.github %}
        <a href="http://github.com/{{ site.github.username }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
        {% endif %}

        <script type="text/javascript">
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://{{ site.disqus.id }}.disqus.com/count.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </body>
</html>
